<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="inventario">
            <h2><span jhiTranslate="serviciosApp.inventario.detail.title">Inventario</span> {{inventario.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="serviciosApp.inventario.nombre">Nombre</span></dt>
                <dd>
                    <span>{{inventario.nombre}}</span>
                </dd>
                <dt><span jhiTranslate="serviciosApp.inventario.precio">Precio</span></dt>
                <dd>
                    <span>{{inventario.precio}}</span>
                </dd>
                <dt><span jhiTranslate="serviciosApp.inventario.unidades">Unidades</span></dt>
                <dd>
                    <span>{{inventario.unidades}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/inventario', inventario.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
